<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Связь с менеджером</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<style>
    body {
        margin: 70px 5px 5px;
    }
    p {
        font-size: 20px;
    }
</style>

<nav class="fixed-top navbar navbar-light navbar-expand-lg bg-light me-1 ms-1 card">
    <div class="container-fluid">
        <span class="navbar-brand">Личный кабинет</span>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/railway-system/home}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
            <a class="navbar-text" href="#" th:text="${user.login}">
                Mike
            </a>
        </div>
    </div>
</nav>

<body>
<div class="container mt-5 w-75 p-3" >
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Заявка на связь с менеджером</h3>
        </div>
        <form th:action="@{/railway-system/clients/{clientId}/manager-request(clientId=${clientId})}"
              th:method="put" th:object="${request}">
            <table class="table">
                <tr>
                    <td>Номер заказа</td>
                    <td class="text-left">
                        <input th:field="*{clientOrderId}">
                    </td>
                </tr>
                <tr>
                    <td>Причина обращения</td>
                    <td class="text-left">
                        <input th:field="*{reason}">
                    </td>
                </tr>
                <tr>
                    <td>Сообщение</td>
                    <td class="text-left">
                        <textarea th:field="*{message}"/>
                    </td>
                </tr>
                <tr>
                    <td>Желаемая дата звонка, гггг-ММ-дд чч-мм-сс</td>
                    <td class="text-left">
                        <textarea th:field="*{dateTime}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="box-footer mb-1 mt-3">
                            <button type="submit" class="btn btn-secondary">Отправить заявку</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>

<footer class="fixed-bottom bg-light text-center text-lg-start card mt-5 me-1 ms-1">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase small">Описание</h5>
                <p class="small">Система контроля железнодорожных перевозок</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase small">Ссылки</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark small">https://github.com/Matt-Lazarev</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase small">Контакты</h5>
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-envelope small"></i>matv26-01@mail.ru</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ©2023 Lazarev
    </div>
</footer>
</html>